.signup-container {
  width: 41vw;
  height: 83vh;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
}
.empty-icon {
  opacity: 0;
  margin-top: 15px;
}
.twitter-icon {
  margin-top: 15px;
  color: #1d9bf0;

  font-size: 180%;
}

.close-icon {
  margin-top: 15px;
}

h1 {
  font-family: inherit;
  font-size: 31px;
}

.signup-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}
.signup-btn button {
  width: 320px;
  height: 46px;
  border-radius: 25px;
  border: 1px solid #dadce0;
  margin: 25px;
}

.signup-btn a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  white-space: inherit;
  font-weight: 600;
  font-family: inherit;
}

.Or {
  background: #fff;
  width: 300px;
  margin: 10px;
}

.Or hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}

.Or span {
  display: block;
  width: 40px;
  margin: auto;
  background-color: #fff;
  font-size: 14px;
  margin-top: -16px;
}
.term-text {
  width: 300px;
  text-align: center;
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 40px;
  color: rgb(94, 94, 94);
}

.blue {
  color: #00acee;
}

.signup-btn button:hover {
  border: 1px solid black;
}

p a {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
