.root {
    padding: 1rem 2rem 1rem ;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
    .text {
      display: flex;
      flex-direction: column;
      color: white;
      
    }
  .btn{
    
   width: 80%;
    margin: 1rem;
  }
 .btns{
  width: 80%;
  margin-right: 3rem;
 }