.tweet-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  height: 19vh;
  width: 41vw;
  flex-direction: column;
  padding: 10px;
  border: 2px solid lightgray;
}
.profile {
  width: 100%;
  display: flex !important;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 10px 0;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.twit-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 60%;
}
.tweet-footer {
  display: flex;
  justify-content: space-around;
  width: 43vw;
  margin-top: 1.5rem;
}
.tweet-footer svg {
  padding-right: 10px;
}
.btn button {
  border-radius: 3rem;
}
.tweet-write{
  padding: 5px 35px;
  width: 100%;
}
.tweet-write input {
  border: none;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}
.show{
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #50b7f5;
  font-weight: 500;
}
.input-container .profilepic svg {
  font-size: 4rem;
}

.icon-container {
  display: flex;
}
.icon-container svg {
  color: #1da1f2;
}

.btn button {
  padding: 8px 16px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  width: 6vw;
}
/* .showtweets {
  background: white;
  align-items: center;
  text-align: center;
  height: 5vh;
  align-items: center;
  border: 2px solid black;
} */
.new-tweets {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 30vw;
}
ul {
  border: 2px solid lightgray;
  margin-top: 0px;
}
.child {
  margin: 1rem;
}


