
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.leftside {
  flex: 0.2; 
  margin-right: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: hidden; 
}

.midpart {
  flex: 0.5;
  height: 100vh;
  overflow-y: auto;
}

.rightside {
  flex: 0.25; 
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: scroll;
  /* overflow-y: hidden;  */
}
.rightside::-webkit-scrollbar{
  display: none;
}

.content {
  background-color: #f5f8fa;
  height: 50px;
  margin-bottom: 20px;
}



.hometext {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 1.2rem;
}
.foryou {
  border: 5px #50b7f5;
  border-style: none none solid none;
}


.leftside > * {
  flex-shrink: 0;
}

.leftside > .MuiBox-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.leftside > .MuiBox-root > :not(:last-child) {
  margin-bottom: 10px;
}

.sidebar {
  margin-bottom: 10px;
}

.logout {
  margin-top: auto;
}

.midpart::-webkit-scrollbar {
  width: 6px;
}

.midpart::-webkit-scrollbar-track {
  background: #f5f8fa;
}

.midpart::-webkit-scrollbar-thumb {
  background: #aab8c2;
  border-radius: 3px;
}

.midpart::-webkit-scrollbar-thumb:hover {
  background: #8899a6;
}
.logout{
  margin-top: 6rem;
}