.main-home {
  border: 1px black solid;
}
h3 {
  font-size: 1.5rem;
  margin-left: 10px;
}
.home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.for-you {
  border: 5px #50b7f5;
  border-style: none none solid none;
}
