.LogOutSection{
    width: 100%;
}
.userProfile{
    
}
.userImg{
    width: 3rem;
    height: 3rem;
    border-radius: 90%;
}
.userData{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(251, 251, 247);
    padding: 0.5rem;
    border-radius: 2rem;
}
.userData:hover{
    background-color: rgb(228, 233, 233);
}
.user{
    line-height: 0;
}

