.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    /* min-width: 250px; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  

  .sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .sidebar__tweet {
    background-color: #50b7f5;
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
 
   