.topcontent {
  width: 150px;
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.changeToEmail {
  display: flex;
  justify-content: end;
  color: rgb(0, 128, 255);
  font-size: 1rem;
  line-height: 2;
}
.textContent {
  line-height: 1;
  padding-bottom: 15px;
}
h4 {
  line-height: 2;
}
.headerContent {
  line-height: 2;
}
