body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;

}

/* .App {
  display: flex;
  height: 100vh;
 padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
} */

.App{
  height: 100vh;
  /* padding: 0 10px;  */
  /* margin-right: auto; */
  /* margin-left: auto; */
  width: 100%;
  /* background: darkslategray; */
  display: flex;
  margin: auto;
}

